<div class="column column-wide" id="col3-files">
  {% for f in files %}
  <div class="row row-file">
    <div class="file-info">
      <div class="file-name">{{ f.filename }}</div>
      <div class="meta">
        {{ f.platform }} &middot; {{ f.variant_name }} &middot; {{ f.size_label }}
        {% if f.has_torrent %}&middot; Torrent{% endif %}
      </div>
    </div>
    {% with identity_key = f.identity_key, status = f.status %}{% include "_file_action.html" %}{% endwith %}
  </div>
  {% else %}
  <div class="row hint">{{ t("library.no_files") }}</div>
  {% endfor %}
</div>
